<div
  class="cart-item flex items-center gap-3 bg-white border-8 border-teal-50 p-3 w-full"
>
  <div class="cart-item-image">
    <img
      src="https://i.dummyjson.com/data/products/2/thumbnail.jpg"
      alt="cart item image"
      class="w-20 h-20 object-cover"
    />
  </div>
  <div class="cart-item-details flex-1">
    <h4 class="text-lg font-semibold">Product Name</h4>
    <p class="text-sm text-gray-500">Product Description</p>
    <div class="cart-item-quantity flex items-center gap-3 mt-3">
      <button class="btn btn-primary">-</button>
      <span class="quantity">1</span>
      <button class="btn btn-primary">+</button>
    </div>
  </div>
  <div class="cart-item-price">
    <h4 class="text-lg font-semibold">$100</h4>
  </div>
  <div class="cart-item-remove">
    <button class="btn btn-primary">Remove</button>
  </div>
</div>
